.loginForm {
    margin-top: 20px;
    padding :20px;
    border: 1px solid black
}
.mainform {
    padding: 15px 15px 45px 15px;
}
.sectionNav {
    color : black;
    font-size: 150%
}
.nav-link  {
    border-bottom: 3px solid black;
}
.nav-link.active {
    color:darkgrey;
    background-color:lightgray;
    border-bottom: 1px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
}

.nextBtn{
    color: red;
    float: right!important;
}
.prevBtn{
    color:red;
    float: left!important;
}